input {
    keyboard {
        repeat-delay 160
        repeat-rate 60
    }

    focus-follows-mouse
    warp-mouse-to-focus

    touchpad {
        tap
        dwt
        accel-speed 0.8
        accel-profile "flat"
        click-method "button-areas"
    }
}

layout {
    gaps 0

    center-focused-column "never"

    default-column-width { proportion 0.5; }

    focus-ring { off; }

    background-color "#11111b"

    border {
        on
        width 2

        active-gradient from="#89b4fa" to="#cba6f7" angle=45 relative-to="workspace-view" in="oklch shorter hue"
        inactive-gradient from="#1e1e2e" to="#313244" angle=45 relative-to="workspace-view" in="oklch shorter hue"
        urgent-color "#f38ba8"
    }
}

overview {
    backdrop-color "#0f0f19"
}

environment {
    QT_QPA_PLATFORM "xcb"
    LGENABLE "1"
}

hotkey-overlay { skip-at-startup; }

prefer-no-csd

screenshot-path null

animations { slowdown 0.5; }

workspace "dropdown" { }
window-rule {
    match app-id=r#"^dropdown-"#
    open-on-workspace "dropdown"

    open-floating true
    open-focused false

    default-column-width { proportion 0.75; }
    default-window-height { proportion 0.75; }
}

binds {

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
}
